venv
_venv
*.pyc
staticfiles
.DS_Store
.cache
.idea/
.env

# Database (this should not be required - should be using Postgres)
db.sqlite3

# Text backup files
*.bak

# Uploaded product image files
/baggysoap/static/img/products/baggy_soaps/*
/baggysoap/static/img/products/soap_bars/*
